@define-color rosewater #f2d5cf;
@define-color flamingo #eebebe;
@define-color pink #f4b8e4;
@define-color mauve #ca9ee6;
@define-color red #e78284;
@define-color maroon #ea999c;
@define-color peach #ef9f76;
@define-color yellow #e5c890;
@define-color green #a6d189;
@define-color teal #81c8be;
@define-color sky #99d1db;
@define-color sapphire #85c1dc;
@define-color blue #8caaee;
@define-color lavender #babbf1;
@define-color text #c6d0f5;
@define-color subtext1 #b5bfe2;
@define-color subtext0 #a5adce;
@define-color overlay2 #949cbb;
@define-color overlay1 #838ba7;
@define-color overlay0 #737994;
@define-color surface2 #626880;
@define-color surface1 #51576d;
@define-color surface0 #414559;
@define-color base #303446;
@define-color mantle #292c3c;
@define-color crust #232634;

window.dead-internet {
  background: transparent;
  padding: 20px;
}

.overlay {
  border-radius: 8px;
  border: 3px solid @lavender;
  box-shadow: 3px 3px 8px 8px @base;
}

flowboxchild {
  background: transparent;
}

flowboxchild:focus,
flowboxchild:focus-visible {
  background: transparent;
  outline: none;
  box-shadow: none;
}

.btn {
  border-radius: 8px;
  border: none;
  color: @mantle;
  box-shadow: 1px 1px 2px 2px @surface0;
}

.btn:focus,
.btn:focus-visible,
flowboxchild:focus .btn,
flowboxchild:focus-visible .btn {
  outline: 2px solid @pink;
  outline-offset: 1px;
  box-shadow: none;
  color: @crust;
}

flowboxchild:nth-child(1) .btn {
  background: linear-gradient(145deg, @lavender, @lavender 80%, @mauve);
}
flowboxchild:nth-child(1):hover .btn {
  background: linear-gradient(145deg, @blue , @blue 80%, @sapphire);
}

flowboxchild:nth-child(2) .btn {
  background: linear-gradient(157deg, @lavender, @lavender 80%, @mauve);
}
flowboxchild:nth-child(2):hover .btn {
  background: linear-gradient(157deg, @blue, @blue 80%, @sapphire);
}

flowboxchild:nth-child(3) .btn {
  background: linear-gradient(180deg, @lavender, @lavender 80%, @mauve);
}
flowboxchild:nth-child(3):hover .btn {
  background: linear-gradient(180deg, @blue, @blue 80%, @sapphire);
}

flowboxchild:nth-child(4) .btn {
  background: linear-gradient(205deg, @lavender, @lavender 80%, @mauve);
}
flowboxchild:nth-child(4):hover .btn {
  background: linear-gradient(205deg, @blue, @blue 80%, @sapphire);
}

flowboxchild:nth-child(5) .btn {
  background: linear-gradient(215deg, @lavender, @lavender 80%, @mauve);
}
flowboxchild:nth-child(5):hover .btn {
  background: linear-gradient(215deg, @blue, @blue 80%, @sapphire);
}

.user-label {
  border-radius: 8px;
  margin: 20px 32px;
  padding: 12px 12px;
  background: linear-gradient(135deg, @lavender, @lavender 80%, @mauve);
  color: @mantle;
  box-shadow: 1px 1px 1px 1px @surface0;
}

.overlay {
  background: #170F2B;
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.gif {
  border-radius: 8px;
  animation: fade-in 0.2s ease-in;
}
