@define-color purple #A955E8;
@define-color pink #FF8BBB;
@define-color light #FFE3DE;
@define-color dark #170F2B;

@define-color lavender #babbf1;
@define-color base #303446;

window.dead-internet {
  background: transparent;
  padding: 20px;
}

.overlay {
  border-radius: 8px;
  border: 3px solid @lavender;
  box-shadow: 3px 3px 8px 8px @base;
  background: @dark;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.gif {
  border-radius: 8px;
  animation: fade-in 0.2s ease-in;
}

flowboxchild {
  background: transparent;
}

flowboxchild:focus,
flowboxchild:focus-visible {
  background: transparent;
  outline: none;
  box-shadow: none;
}

.btn {
  background: linear-gradient(@light, @light 85%, @pink 85%, @pink 93%, @purple 93%);
  border-radius: 0;
  border: 2px solid @dark;
  color: @dark;
  box-shadow: 1px 1px 2px 2px @white;
}

.btn:focus,
.btn:focus-visible {
  background: linear-gradient(shade(@light, 0.96), shade(@light, 0.95) 85%, @pink 85%, @pink 93%, @purple 93%);
  box-shadow: none;
  outline: none;
}

.btn:hover {
  background: linear-gradient(shade(@light, 0.94), shade(@light, 0.93) 85%, @pink 85%, @pink 93%, @purple 93%);
  box-shadow: none;
  outline: none;
}

flowboxchild {
  border: 2px solid @light;
  padding: 0;
}

.user-label {
  background: linear-gradient(@light, @light 85%, @pink 85%, @pink 93%, @purple 93%);
  box-shadow: inset 0 0 0 2px @dark, 0 0 0 2px @light;
  color: @dark;
  margin: 20px 32px;
  padding: 12px 12px;
}
